@model List<kursova.Data.Application>

@{ViewData["Title"] = "Applications";}
<h1>Applications</h1>
<a class="btn btn-primary" asp-area="" asp-controller="Application" asp-action="Add"><b>&#65291</b>  Add Application</a>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Content</th>
        <th>Status</th>
        <th>Queue Number</th>
        <th>Citizen ID</th>
        <th>Specialist ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var application in Model)
    {
        <tr>
            <td>@application.Id</td>
            <td>@application.Date</td>
            <td>@application.Content</td>
            <td>@application.Status</td>
            <td style="text-align: center">@application.QueueNum</td>
            <td style="text-align: center">@application.CitizenId</td>
            <td style="text-align: center">@application.SpecialistId</td>
            <td><a href="Application/View/@application.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>
